<app-header [fixed-top]=false ></app-header>
<div class="section">
    <div class="content" style="min-height: 100vh;">
        <p class="is-size-2 has-text-weight-bold has-text-centered has-text-primary">About us </p>
        <p class="is-size-4  section" style="text-align: center;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ut sint non est, architecto libero enim optio, doloribus qui ipsam, ad nihil maxime omnis corrupti dignissimos quaerat debitis harum modi asperiores velit? Dolorum explicabo voluptates, doloribus pariatur porro aut, necessitatibus amet repellendus minima dicta saepe fuga corrupti iste magnam error consectetur distinctio reprehenderit odit inventore quae, molestiae corporis nesciunt magni vero. Suscipit quis delectus consectetur itaque, ratione, eum ab odio, et harum nihil voluptate laborum similique iste neque necessitatibus fugit dicta sequi soluta porro vero natus. Sunt facere at aliquam, minima maxime eum eligendi, et sint magnam, commodi deleniti odit?
        </p>



        <div class="section">
            <p class="title has-text-centered has-text-primary">
              <span class="title-border">Our team</span>
            </p>
            <div class="tile is-ancestor">

              <div class="tile is-parent">
                <div class="tile is-child section flex-center">
                  <div>
                    <figure class="image flex-center">
                      <img
                        src="../../assets/images/team/dhruvin.jpg"
                        class="is-rounded"
                        style="height: 200px; width: 200px;"
                      />
                    </figure>
                    <br />
                    <p class="is-size-4 has-text-centered less_opacity has-text-primary">
                      Dhruvin Deshpande 3108
                    </p>
                    <p class="is-size-5 has-text-centered less_opacity">
                      Primary Software-developer (Back-end and Front-end)
                    </p>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="tile is-child section flex-center">
                  <div>
                    <figure class="image flex-center">
                      <img
                        src="../../assets/images/team/varun.jpg"
                        class="is-rounded"
                        style="height: 200px; width: 200px;"
                      />
                    </figure>
                    <br />
                    <p class="is-size-4 has-text-centered less_opacity has-text-primary">
                      Varun Shanbhag 3031
                    </p>
                    <p class="is-size-5 has-text-centered less_opacity">
                      Secondary Software-developer (Front-end)
                    </p>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="tile is-child section flex-center">
                  <div>
                    <figure class="image flex-center">
                      <img
                        src="../../assets/images/team/shravan.jpg"
                        class="is-rounded"
                        style="height: 200px; width: 200px; object-fit: cover;"
                      />
                    </figure>
                    <br />
                    <p class="is-size-4 has-text-centered less_opacity has-text-primary">
                      Shravan Kamat 3005
                    </p>
                    <p class="is-size-5 has-text-centered less_opacity">
                        Content-Writer and Design
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
    </div>
</div>
