<nav
  #navbar
  class="navbar is-dark"
  (window:scroll)="onScroll()"
  style="background-color: transparent"
  [ngClass]="{ 'is-fixed-top is-spaced': scrolling }"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <span class="is-size-4 has-text-weight-semibold has-text-primary">
        Meme-Media
      </span>
      <span class="icon is-medium"
        ><i class="fas fa-cannabis has-text-primary is-size-5"></i
      ></span>
    </a>

    <a role="button" class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start"></div>

    <div class="navbar-end">
      <a routerLink="meme-making" class="navbar-item"> Make Memes </a>

      <a routerLink="about-us" class="navbar-item">About us </a>
      <div class="navbar-item">
        <a routerLink="/user/login" class="button is-light is-light is-outlined"
          >Sign in</a
        >
      </div>
      <div class="navbar-item">
        <a routerLink="/user/signup" class="button is-light is-outlined"
          >Sign Up</a
        >
      </div>
    </div>
  </div>
</nav>
