<app-header></app-header>
<div class="hero is-fullheight">
  <div class="hero-body has-background-dark">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <p class="has-text-centered has-text-primary">
            <span class="icon is-size-1"><i class="fas fa-cannabis"></i></span>
          </p>
          <div *ngIf="!newUser; else signup">
            <p
              class="has-text-primary is-size-3 has-text-centered has-text-weight-semibold"
            >
              Sign in
            </p>
            <br />
            <form method="post">
              <div class="field">
                <label
                  class="label has-text-primary is-size-5 has-text-weight-normal"
                >Username</label
                >
                <div class="control">
                  <input
                    type="text"
                    class="input is-primary"
                    required
                    placeholder="Enter your username"
                  />
                </div>
              </div>
              <div class="field">
                <label
                  class="label has-text-primary is-size-5 has-text-weight-normal"
                >Password</label
                >
                <div class="control">
                  <input
                    type="password"
                    class="input is-primary"
                    required
                    placeholder="Enter your password"
                  />
                </div>
              </div>
              <div class="control">
                <button class="button is-primary is-outlined">Sign in</button>
              </div>
            </form>
          </div>
        </div>
        <ng-template #signup>
          <p
            class="has-text-primary is-size-3 has-text-centered has-text-weight-semibold"
          >
            Sign up
          </p>
          <br />
          <form method="post">
            <div class="field">
              <label
                class="label has-text-primary is-size-5 has-text-weight-normal"
              >Username</label
              >
              <div class="control">
                <input
                  type="text"
                  class="input is-primary"
                  required
                  placeholder="Enter your username"
                />
              </div>
            </div>
            <div class="field">
              <label
                class="label has-text-primary is-size-5 has-text-weight-normal"
              >Password</label
              >
              <div class="control">
                <input
                  type="password"
                  class="input is-primary"
                  required
                  placeholder="Enter your password"
                  id="pass1"
                  (keyup)="confirm()"
                />
              </div>
            </div>
            <div class="field">
              <label
                class="label has-text-primary is-size-5 has-text-weight-normal"
              >Confirm Password</label
              >
              <div class="control">
                <input
                  type="password"
                  class="input is-primary"
                  required
                  placeholder="Enter your password"
                  id="pass2"
                  (keyup)="confirm()"
                />
              </div>
            </div>
            <div class="field">
              <label
                class="label has-text-primary is-size-5 has-text-weight-normal"
              >Email</label
              >
              <div class="control">
                <input
                  type="email"
                  class="input is-primary"
                  required
                  placeholder="Enter your email "
                />
              </div>
            </div>
            <div class="control">
              <button class="button is-primary is-outlined" id="create">Create Account</button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
