<div class="hero is-large">
  <div class="hero-body" style="padding: 1.5rem 1.5rem">
    <div class="columns">
      <div class="column" style="display: flex; align-items: center">
        <div>
          <p class="title">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat,
            alias?
          </p>
          <p class="is-size-4 less-opacity">Lorem ipsum dolor sit amet.</p>
          <br />
          <a href="" class="button is-dark is-outlined is-large"
            >Create Memes</a
          >
        </div>
      </div>
      <div class="column">
        <figure class="image is-4by3">
          <img src="" alt="" />
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <p class="has-text-centered title">Or, start with a basic meme template:</p>
  <div class="columns is-vcentered is-multiline">
    <div class="column is-3">
      <div class="notification is-primary">
        <p class="title">template 1</p>
      </div>
    </div>
    <div class="column is-3">
      <div class="notification is-primary">
        <p class="title">template 2</p>
      </div>
    </div>
    <div class="column is-3">
      <div class="notification is-primary">
        <p class="title">template 3</p>
      </div>
    </div>
    <div class="column is-3">
      <div class="notification is-primary">
        <p class="title">template 4</p>
      </div>
    </div>
    <div class="column is-3">
      <div class="notification is-primary">
        <p class="title">template 5</p>
      </div>
    </div>
    <div class="column is-3">
      <div class="notification is-primary">
        <p class="title">template 6</p>
      </div>
    </div>
    <div class="column is-3">
      <div class="notification is-primary">
        <p class="title">template 7</p>
      </div>
    </div>
    <div class="column is-3">
      <div class="notification is-primary">
        <p class="title">template 8</p>
      </div>
    </div>
  </div>
</div>
