<!--suppress HtmlUnknownTarget -->
<div
  class="hero is-fullheight"
  style="
    background-image: url('assets/images/home-hero.jpg');
    background-position: right;
    background-size: cover;
    object-fit: cover;
  "
>
  <app-header></app-header>
  <div
    class="hero-body"
    style="padding: 1.5rem 1.5rem"
    style="
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.918),
        #00000015
      );
    "
  >
    <div class="columns">
      <div class="column" style="display: flex; align-items: center">
        <div>
          <p class="title has-text-light">
            Your Friendly Neighborhood Meme Maker
          </p>
          <!--
          <p class="is-size-4 less-opacity has-text-light">
            Lorem ipsum dolor sit amet.
          </p>-->
          <br />
         <!-- <a class="button is-light is-outlined is-large">Post Meme</a>-->
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
<div class="section has-background-dark has-text-light">
  <p class="has-text-centered title has-text-light">
    Pick any template and start making dope memes now
  </p>
  <br />
  <br />
  <div class="columns is-vcentered is-multiline section">
    <div
      class="app-meme-template column is-3"
      *ngFor="let meme of memesData"
      [title]="meme.title"
      [img_path]="meme.img_path"
      [description]="false"
    ></div>
  </div>
</div>
