<!--suppress HtmlUnknownTarget -->
<div
  class="hero is-fullheight"
  style="
    /*noinspection CssUnknownTarget*/
    background-image: url('assets/images/home-hero.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
  "
>
  <app-header></app-header>
  <div
    class="hero-body"
    style="padding: 1.5rem 1.5rem"
    style="background-image: linear-gradient(to right, black, #00000000)"
  >
    <div class="columns">
      <div class="column" style="display: flex; align-items: center">
        <div>
          <p class="title has-text-light">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat,
            alias?
          </p>
          <p class="is-size-4 less-opacity has-text-light">
            Lorem ipsum dolor sit amet.
          </p>
          <br />
          <a class="button is-light is-outlined is-large">Create Memes</a>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
<div class="section">
  <p class="has-text-centered title">
    Pick any template and start making dope memes now
  </p>
  <div class="columns is-vcentered is-multiline">
    <div class="column is-3">
      <figure class="image is-square has-background-dark hover-scale">
        <img src="assets/images/meme_templates/leonardo_laughing.jpg" alt="leonardo_laughing" />
      </figure>
    </div>
    <div class="column is-3">
      <figure class="image is-square has-background-dark hover-scale">
        <img src="assets/images/meme_templates/emergency_meeting.jpg" alt="emergency_meeting" />
      </figure>
    </div>
    <div class="column is-3">
      <figure class="image is-square has-background-dark hover-scale">
        <img src="assets/images/meme_templates/papers_cat.jpg" alt="papers_cat" />
      </figure>
    </div>
    <div class="column is-3">
      <figure class="image is-square has-background-dark hover-scale">
        <img src="assets/images/meme_templates/thumbs_up_cat.jpg" alt="thumbs_up_cat" />
      </figure>
    </div>
    <div class="column is-3">
      <figure class="image is-square has-background-dark hover-scale">
        <img src="assets/images/meme_templates/gentleman.png" alt="gentleman" />
      </figure>
    </div>
    <div class="column is-3">
      <figure class="image is-square has-background-dark hover-scale">
        <img src="assets/images/meme_templates/monkey_puppet.jpg" alt="monkey_puppet" />
      </figure>
    </div>
    <div class="column is-3">
      <figure class="image is-square has-background-dark hover-scale">
        <img src="assets/images/meme_templates/mike.jpg" alt="mike" />
      </figure>
    </div>
    <div class="column is-3">
      <figure class="image is-square has-background-dark hover-scale">
        <img src="assets/images/meme_templates/drake.jpg" alt="drake" />
      </figure>
    </div>
  </div>
</div>
