<!-- meme template got two states: one state is the is when youre generating multiple template with just the title and the other one with the enlarged photo and the title and the description  -->

<div
  *ngIf="!description; else meme_description"
  (click)="this.router.navigate(['meme-description', title])"
>
  <div class="hover_scale">
    <figure class="image has-background-dark is-square">
      <img src="{{ img_path }}" alt="{{ title }}" />
    </figure>
    <p
      class="has-text-centered has-text-weight-semibold is-size-5 border-merge-title"
    >
      {{ title }}
    </p>
  </div>
</div>

<ng-template #meme_description>
  <app-header [fixed-top]="false"></app-header>
  <div
    class="section has-background-dark"
    style="min-height: 95vh; color: white"
  >
    <div class="columns is-centered">
      <div
        class="column is-3 section"
        style="display: flex; align-items: center"
      >
        <div>
          <p class="is-size-2 has-text-weight-bold" style="color: white">
            {{ meme.title }}
          </p>
          <p class="is-size-5 has-font-weight-semibold">
            {{ meme.description }}
          </p>
          <br />
          <a
            [routerLink]="['/meme-editor', meme.title]"
            routerLink="#test"
            class="button is-primary is-outlined is-medium"
            ><span>MAKE IT </span>
            <span class="icon is-medium"
              ><i class="fas fa-chevron-right"></i></span
          ></a>
          <br /><br />
          <p class="is-size-6">
            Click above to edit this template directly in your browser. Easily
            replace with your own text and images.
          </p>
        </div>
      </div>
      <div class="column is-1"></div>
      <div class="column is-4">
        <figure class="image is-square">
          <img
            src="{{ meme.img_path }}"
            alt=""
            style="
              border: 2px solid #00d1b2;
              box-shadow: 5px 5px #00d1b2;
              object-fit: cover;
              background-position: center;
              background-size: cover;
            "
          />
        </figure>
      </div>
    </div>
  </div>
</ng-template>
